.invisible {
  visibility: hidden !important;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}


@media all and (min-width: 600px) {

	h1 {
		font-size: 2em;
	}

	.content_bg {
		padding: 4em 0;
	}

	blockquote {
		padding: 15px 40px 5px 65px;
		font-size: 22px;
	}

	blockquote::before {
		content: "\201C";
	    font-family: 'Times', 'Georgia', serif;
	    font-size: 80px;
	    font-weight: bold;
	    color: #aaa;
	    position: absolute;
	    left: 10px;
	    top: 5px;
	}

	#content {
		padding: 0;
	}

	.container { max-width: 576px; }
	#site-navigation { width: 360px; right: -360px; }

	.page-template-promotion #content {
	padding-top: 0;
}

#promotion {
	background: #2c8ce6;
	min-height: 300px;
	padding-top: 100px;
}

#promoBranding {
	display: block;
    width: 580px;
    margin: 0 auto;
}

#promoLogoMark {
	max-width: 100px;
	margin-right: 20px;
	margin-bottom: -40px;
	display: inline-block;
}

#promoLogoText {
	font-size: 5em;
	display: inline-block;
	margin: 0;
	font-weight: 700;
	float: right;
	line-height: 1.1em;
}

#promoLogoTag {
	color: white;
	font-family: 'Vollkorn', 'Times', 'Georgia', serif;
	font-size: 1.3em;
	float: right;
	margin-top: 0;
}

#promoMessage {
	font-size: 2em;
	margin-top: 120px;
	margin-bottom: 200px;
	max-width: 600px;

}

.promotion_cta {
	margin-top: 200px;
	min-height: 600px;
	padding-top: 100px;
}

.promoDetails, .ctct-form-description {
	max-width: 600px;
}

#promoDisclaimer, .ctct-form-description {
	font-size: 1.5em;
}

.promotion_form {
	width: 600px;
	display: block;
	margin: 0 auto;
	margin-top: 100px;
}

/**********************************
  Online Schedule & mindbody widget
***********************************/

.page-online-schedule .bs_container .col-xs-12 {
  width: 100%;
}

.healcode .ui-datepicker {
  width: 100%;
  padding: 0;
}

div.healcode .ui-state-default, div.healcode .ui-widget-content .ui-state-default, div.healcode .ui-widget-header .ui-state-default {
  background: #ffffff;
  border: none;
  text-align: center;
}

div.healcode .ui-widget-header {
  border: none;
  background: #3f3e3e;
  color: white;
  padding: 2em 0;
}

div.healcode .ui-corner-all, div.healcode .ui-corner-bottom, div.healcode .ui-corner-right, div.healcode .ui-corner-br{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.ui-datepicker-calendar thead {
  background: #4d4d59;
}

.ui-datepicker-calendar thead th {
  color: white;
}

.ui-datepicker td span, .ui-datepicker td a {
  padding: 3em .2em;
}

div.healcode .ui-state-default, div.healcode .ui-widget-content .ui-state-default, div.healcode .ui-state-disabled, div.healcode .ui-widget-content .ui-state-disabled, div.healcode .ui-widget-header .ui-state-disabled, .ui-datepicker-current-day a {
  transition: all 0.3s ease;
}

 .ui-datepicker-current-day a:hover {
  background: #2c8ce6;
  color: white;
 }

 div.healcode .ui-state-active span, div.healcode .ui-widget-content .ui-state-active, div.healcode .ui-widget-header .ui-state-active {
   text-align: center;
   border: none;
   color: white;
   background: #2c8ce6;
 }

div.healcode .ui-state-disabled span:hover, div.healcode .ui-widget-content .ui-state-disabled span:hover, div.healcode .ui-widget-header .ui-state-disabled span:hover {
  background: #efefef
}

div.healcode .ui-state-default, div.healcode .ui-widget-content .ui-state-default, div.healcode .ui-state-disabled, div.healcode .ui-widget-content .ui-state-disabled, div.healcode .ui-widget-header .ui-state-disabled, .ui-datepicker-current-day a {
  border: 1px solid #efefef;
}

div.list_view #hc-appointment_form_09292903044 td {
  padding: 0!important;
}

div.healcode .ui-widget-header .ui-datepicker-prev .ui-icon {
  background-image: url('../img/icon_chevron_left.png')!important;
  background-size: contain;
  background-position: center;
}

div.healcode .ui-widget-header .ui-datepicker-next .ui-icon {
  background-image: url('../img/icon_chevron_right.png')!important;
  background-size: contain;
  background-position: center;
}

} /* end max-width 600 */

@media all and (max-width: 768px) and (orientation: landscape) {

	#menu-toggle, #site-navigation {
		position: fixed;
	}

	#site-navigation { width: 100%; right: -100%; top: 0; bottom: 0;}

	#header_social-links {
		display: inline-block;
		float: right;
	}

	#primary-menu {
		margin-top: 70px;
	}

	#primary-menu li.menu-item {
		width: 50%;
		font-size: 1.1em;
		float: left;
	}

	#menu-item-1000011 {
		display: none;
	}
}

@media all and (min-width: 768px) {

	.entry-content img, .wp-caption {
		display: block!important;
	}

	.container { max-width: 720px; }

	.schedule-block-container {
		width: 60%;
		left: 50%;
		margin-left: -30%;
	}

	#welcome h1 {
		font-size: 3.5em;
	}

	#schedule-block-1, #schedule-block-2 {
		width: 45%;
		float: left;
		color: white;
	}

	#schedule-block_center {
		display: inline;
	}

	#schedule-block-1 .schedule-block_button {
		float: right;
	}

	#schedule-block-2 .schedule-block_button {
		float: left;
	}

	.schedule-block_hr:first-of-type() {
		display: block;
	}

}

@media all and (min-width: 992px) {
	.container { max-width: 940px; margin-left: 200px; }

	#color-bars { display: block; }

	#site-navigation.menuOpen { right: 0;}

	#page.menuOpen { margin-right: 360px; }

	.image-header {
		background: url('../img/background-office.jpg');
		min-height: 240px;
		background-attachment: fixed;
		background-size: cover;
	}

	.image-header_title {
		font-size: 4em;
		line-height: 240px; /* keep consistent with .image-header height/min-height above */

	}
}

@media all and (min-width: 1200px) {
	.container { max-width: 1140px; }
	.wpcf7 p:first-of-type, .wpcf7-form p:nth-of-type(2) {
		width: 50%;
		float: left;
		clear: none;
	}

	input[type="text"] { width: 98%; }
	input[type="email"] { width: 100%; }

	#error404 {
		background-size: 45%;
	}

	#team .col-md-12 .team_portrait-container, #team .col-md-6 .team_portrait-container, #team .col-md-4 .team_portrait-container  {
		width: 300px;
		height: 300px;
	}

}

@media all and (min-width: 1400px) {
	.container { margin-left: 200px; }
}
