body {
	overflow-x: hidden;
	font-family: 'Vollkorn', 'Times', 'Georgia', serif;
	background: #3f3e3e;
}

.mobile-hide

p { font-size: 1.2em; }

.bold {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 1.5em;
}

h1.entry-title {
	margin-bottom: 0;
}

#content {
	padding: 15px 20px;
}

.archive #content {
	padding-top: 50px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 55px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

/* 404 Template */
/*****************/

#error404 {
	width: 60%;
	margin-left: 20%;
	background: #2c8ce6;
	background: #2c8ce6 url('../img/404.jpg') 100% 0;
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	padding: 15px 20px;
	margin-bottom: 100px;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {

	border: 2px solid #3f3e3e;
	background: #efeded;
	border-radius: 0;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: bold;
	font-size: 1.2em;
}

input[type="text"], input[type="email"] {
	width: 100%;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
	outline: none;
	background: #cccccc;
}


form label {
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

.wpcf7-form .your-subject input[type="text"] {
	width: 100%;
}

#google-map {
	min-height: 450px;
	width: 100%;
}

blockquote {
	display: block;
    background: #ccc;
    padding: 15px 20px 5px 20px;
    margin: 0 0 20px;
    position: relative;
    font-family: 'Vollkorn', 'Times', 'Georgia', serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
    border-left: 15px solid #4d4d59;
    z-index: 11;
}

blockquote:before {
	display: none;
}

button, input[type="submit"] {
	background: transparent;
	color: white;
	padding: 10px 30px;
	border: 1px solid white;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-radius: 0;
	font-size: 1.3em;
	width: 180px;
}

input[type="submit"].wpcf7-submit {
	background: #2c8ce6;
	border: 1px solid #4d4d59;
}

input[type="submit"].wpcf7-submit:hover {
	background: #4d4d59;
}

button:hover {
	background: #4d4d59;
}

/* Header */
/*****************/

#masthead {
	background: #4d4d59;
}

.home #masthead {
	background: transparent;
}

.site-title {
	text-indent: -9999px;
	float: left;
	max-width: 100px;
	margin: 0;
}

.site-title img {
	display: block;
	float: left;
	margin: .5em;
	width: 70px;
}

.site-description {
	color: white;
	font-family: 'Vollkorn', 'Times', 'Georgia', serif;
	font-size: 1.2em;
	font-weight: 400;
	float: left;
	letter-spacing: 0.1em;
	margin: 2em 0 0 0;
}

#menu-toggle {
	position: absolute;
	top: .5em;
	right: .5em;
	z-index: 9999;
	color: #fff;
	-webkit-transition: color 0.6s ease;
	transition: color 0.6s ease;
	margin: 20px 20px 0 0;
	cursor: pointer;
}

#menu-toggle:hover {
	color: #ccc;
}

.home #page {
/* 	background: url('../img/background-home.jpg'); */
	background: transparent;
	position: absolute;
	background-size: cover!important;
}

#page {
	background: url('../img/background-default.jpg');
	background-size: cover;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: all 0.4s ease-in-out;
	overflow: auto;
}

.wp-caption {
	display: none!important;
}

.entry-content img {
	display: none!important;
	position: relative;
	z-index: 22;
}

.home #primary {
	position: relative;
}

/* Slider */

#slider {
	position: absolute;
	width: 100%;
	z-index: -1;
	top: 0;
	bottom: 0;
	overflow: hidden;
	background-size: cover;
}

.slide {
	position: absolute!important;
	width: 100%;
	z-index: -1;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-size: cover;
}

.slick-track, .slick-slide, .slide-img, .slick-list {
	position: absolute!important;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0!important;
}

.slick-track {
	max-width: 100%!important;
	overflow: hidden;
}

/***** Header Images *****/
/*************************/

.image-header {
	min-height: 130px;
	background: url('../img/background-office-mobile.jpg');
	background-size: 100%;
	background-attachment: fixed;
	margin-bottom: 15px;
	margin-top: 30px;
}

.image-header_title {
	color: white;
	line-height: 130px; /* keep consistent with .image-header height/min-height above */
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    position: absolute;
    margin: 0;
    padding-bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    -webkit-text-shadow: 5px 5px 15px #000;
    text-shadow: 5px 5px 15px #000;
}

/* Navigation */
/*****************/

#menu-item-1000011 {
	width: 25px;
	height: 40px;
	left: 0;
	top: 0;
	position: absolute;
	background: #2c8ce6;
}

#site-navigation {
	position: absolute;
	right: -100%;
	top: 0;
	width: 100%;
	bottom: 0;
	background: #3f3e3e;
	z-index: 9998;
	transition: all 0.4s ease-in-out;
}

#site-navigation.menuOpen { right: 0;}
#page.menuOpen { padding-right: 0; }

#primary-menu {
	position: relative;
	padding-right: 2.2em;
	margin-top: 110px;
}

li.menu-item {
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
	font-weight: 100;
	font-size: 1.4em;
	line-height: 1.8em;
	padding-left: 2.2em;

}

li.menu-item.promotion a {
	color: white;
	background-color: #2c8ce6;
	font-weight: bold;
	padding-right: 15px;
}

li.menu-item a {
	color: #eee;
	border-bottom: 1px solid #4d4d59;
}

#header_social-links {
	padding-right: 2.2em;
	margin-top: 3em;
}

#header_social-links li {
	list-style-type: none;
	display: inline;
	float: right;
	margin-right: .4em;
}

#header_social-links li i {
	color: #000000;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	cursor: pointer;
}

#header_social-links li i:hover {
	color: #2c8ce6;
}

/* Home Page */
/*****************/

.home #page {
	overflow-y: hidden;
}

#welcome {
	text-align: center;
	color: white;
}

#welcome h1 {
	font-size: 2.5em;
	font-weight: 700;
}

#welcome h2 {
	font-family: 'Vollkorn', 'Times', 'Georgia', serif;
	font-weight: 400;
}

.schedule-block-container {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 40px;
	z-index: 10;
	text-align: center;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.schedule-block-container h3 {
	color: white;
	font-size: 2em;
	text-align: center;
	line-height: 0.9em;
	font-family: 'Raleway', sans-serif;
	margin: .5em 0;
}

.schedule-block-container h3 span {
	font-family: 'Vollkorn', 'Times', 'Georgia', serif;
	font-size: 0.8em;
	font-style: italic;
	font-weight: 400;
}

#schedule-block-1, #schedule-block-2 {
	width: 100%;
	color: white;
}

#schedule-block_center {
	float: left;
	width: 10%;
	display: none;
}

#schedule-block_icon {
	background: rgba(251,251,251,0.2);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin: -.3em auto 0 auto;
	display: block;
}

#schedule-block_icon i {
	color: #fff;
	margin-top: .4em;
}

.schedule-block_hr {
	color: white;
	max-width: 200px;
	display: block;
}

.schedule-block_hr:first-of-type() {
	display: none;
}

.schedule-block_button {
	background: transparent;
	color: white;
	padding: 10px 30px;
	border: 1px solid white;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-radius: 0;
	font-size: 1.3em;
	width: 180px;
}

.schedule-block_button:hover {
/* 	background: #63d488;	 */
background: #2c8ce6;
}

/* FOOTER */
/*****************/

.home .site-footer {
	width: 100%;
	background: transparent;
	position: absolute;
	bottom: 0;
	height: 15px;
	z-index: 1;
}

.site-footer {
	background: #4d4d59;
}

.footer-widgets { position: relative; }
#footer-widgets_underlay {
	position: absolute;
	width: 90%;
	height: 70%;
	left: 3%;
	top: 15%;
	background: rgba(251,251,251,0.05);
	z-index: 0;
}

.footer-widget {
	color: white;
	font-family: "Raleway", sans-serif;
	z-index: 99!important;
}

.footer-widget ul li {
	list-style-type: none;
}

.footer-widget ul {
	margin-left: 0;
	padding-left: 0;
}

.footer-widget ul li a {
	color: #fff;
	text-decoration: none;
}

.site-info {
	text-align: center;
	color: white;
	background: #3f3e3e;
}

#copyright {
	margin-bottom: 0;
	line-height: 3em;
	font-family: "Raleway", sans-serif;
}

#text-2 h3 {
	margin-bottom: 0;
}

.footer_hours {
	margin: 0;
	line-height: 2em;
}

.footer_hours.first {
	border-bottom: 1px solid #3f3e3e;
	font-size: 1.2em;
}

/* SIDEBAR */
/*****************/

#secondary {
	float: left;
}

.widget {
	font-family: "Raleway", sans-serif;
	margin-bottom: 60px;
}

.widget .search-field, .widget .search-submit {
	width: 100%;
	border-radius: 0;
}

.widget .search-submit {
	background: #4d4d59;
	font-weight: bold;
	border: none;
	outline: none;
	color: #efeded;
	-webkit-transition: all, 0.3s ease;
	transition: all, 0.3s ease;
	margin-top: 10px;
}

.widget .search-submit:hover {
	color: #3f3e3e;
	background: #2c8ce6;
}

.widget-title {
	background: #2c8ce6;
	color: white;
	margin-top: 0;
	padding: 5px 0 5px 15px;
	font-size: 1em;
}

.widget_categories ul {
	margin-left: 0;
	padding-left: 1.5em;
}

.widget_categories ul li.cat-item {
	list-style-type: none;
	font-weight: bold;
}

li.cat-item a {
	color: #3f3e3e;
	-webkit-transition: color, 0.2s ease;
	transition: color, 0.2s ease;
	text-decoration: none;
}

li.cat-item a:hover {
	color: #2c8ce6;
}

#social-links {
	margin-left: 0;
	padding-left: 0;
}

#secondary #social-links li {
	list-style-type: none;
	width: 100%;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	-webkit-transition: all, 0.3s ease;
	transition: all, 0.3s ease;
	margin-bottom: 10px;
	padding: 5px 0 5px 15px;
}

#secondary #social-links li:hover {
	margin-left: 10px;
}

#secondary #social-links li a {
	text-decoration: none;
	display: block;
	width: 100%;
}

#secondary #social-links li i.fa, .site-footer #social-links li i.fa {
	margin-right: 6px;
}

#secondary #social-links li.social-link:nth-child(1)   { background: #3f3e3e; }
#secondary #social-links li.social-link:nth-child(1) a { color: #2c8ce6; }
#secondary #social-links li.social-link:nth-child(2)   { background: #4d4d59; }
#secondary #social-links li.social-link:nth-child(2) a { color: #efeded; }
#secondary #social-links li.social-link:nth-child(3)   { background: #cccccc; }
#secondary #social-links li.social-link:nth-child(3) a { color: #4d4d59; }

#secondary #social-links li.social-link:nth-child(4)   { background: #efeded!important; }
#secondary #social-links li.social-link:nth-child(4) a { color: #4d4d59; }
#secondary #social-links li.social-link:nth-child(5)   { background: #2c8ce6; }
#secondary #social-links li.social-link:nth-child(5) a { color: #fff; }

.widget_search .widget-title {
	background: transparent;
	color: #3f3e3e;
	font-weight: bold;
	padding-left: 0;
}

/* Color Bars (Design Element only) */
/************************************/

#color-bars {
	display: none;
	position: fixed;
	margin-left: 0.2em;
	z-index: 9;
}

.color-bar {
	width: 100px;
	height: 100px;
	background-color: #ccc;
	list-style-type: none;
}

.color-bar:nth-of-type(1) { background: #3f3e3e; }
.color-bar:nth-of-type(2) { background: #4d4d59; }
.color-bar:nth-of-type(3) { background: #cccccc; }
.color-bar:nth-of-type(4) { background: #efeded; }
.color-bar:nth-of-type(5) { background: #2c8ce6; }

/* Default Page (page.php & template-parts/content-page.php */
/*******************************************************/

.content_bg {
	padding: 1.6em 0;
}

/* Call to Action Section */
/**************************/

#cta {
	width: 100%;
	position: relative;
	background: #2c8ce6;
	color: #fff;
	padding: 40px 0;
	min-height: 360px;
	text-align: center;
}

#cta .container {
	margin-right: 360px;
}

#cta h2 { font-size: 2em; }
#cta p { font-size: 1.3em; }

.cta_button {
	text-align: center;
}

#cta button {
	font-family: "Raleway", sans-serif;
	font-weight: 100;
	margin-bottom: 1em;
}

#cta img.wp-post-image {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

[class*="wp-image"] {
	z-index: 8888;
	position: relative;
}

/* Team Sections */
/*****************/

.team_member {
	text-align: center;
	color: #ccc;
	padding: 40px 15px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

}

.team_member:hover {
	background: #4d4d59;
	color: #fff;
}

.team_member:hover .team_portrait-container {
	background-position-y: 0!important;
}

.team_portrait-container {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	overflow: hidden;
	background-size: 100%!important;
	background-position-y: 100%!important;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}

/* blogs */
/*********/

.archive article.post {
	padding: 30px 15px 20px 15px;
	color: white;
	position: relative;
}

.archive article.post .post-categories {
	position: absolute;
	top: -0.5em;
    left: 0;
    margin: 0;
    width: 100%;
}

.archive article.post .post-categories li {
	list-style: none;
	display: inline;
	font-family: 'Raleway', sans-serif;
	padding: 7px 20px;
	margin-right: 1px;
}

.archive article.post .post-categories li a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	font-weight: 700;
	color: #3f3e3e;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

.archive article.post .post-categories li a:hover {
	color: #fff!important;
}

.archive article.post .post-categories li:nth-child(odd) {
	background: #ccc;
	color: #3f3e3e;
}

.archive article.post .entry-title a {
	color: white;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.archive article.post .size-blog-thumbnail {
	width: 100%;
}

.archive article.post .entry-content, article.post .entry-title { margin-top: 0; }

.archive .post:nth-child(odd) {
	background: #4d4d59;
}

.archive article.post:nth-child(even) {
	background: #2c8ce6;
}

.archive article.post:nth-child(odd) .post-categories li:nth-child(even) { background: #2c8ce6; }
.archive article.post:nth-child(odd) .post-categories li:nth-child(even) a { color: #ccc; }

.archive article.post:nth-child(even) .post-categories li:nth-child(even) { background: #3f3e3e; }
.archive article.post:nth-child(even) .post-categories li:nth-child(even) a { color: #ccc; }

.archive article iframe {
	width: 100%;
	min-height: 360px;
}

.single ul.post-categories {
	display: none;
}

/* Gallery */

.gallery {
	background: #2c8ce6;
	margin-bottom: 0;
}

.gallery-item {
	height: 300px;
	overflow: hidden;
	padding: 0;
}

.gallery-item:hover .gallery-item-thumb {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-moz-opacity: 1!important;
	-webkit-opacity: 1!important;
	opacity: 1!important;
}

.gallery-item-thumb {
	height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    -moz-opacity: 0.7;
		-webkit-opacity: 0.7;
		opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat!important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
	cursor: pointer;
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
}

.gallery-item-details {
	padding: 30px;
	background: #ccc;
	display: none;
	position: absolute;
	top: 0;
	z-index: 999;
}

.gallery-item-title {
	font-weight: bold;
	margin-top: 0;
}

#gallery-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	background-color: rgba(0,0,0,0.8);
	z-index: 9980;
	display: none;
}

.page-template-gallery #color-bars {
	z-index: 0;
}

.gallery-modal_arrow {
	color: white;
	position: fixed;
	top: 50%;
	z-index: 9985;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: none;
	cursor: pointer;
}

.gallery-modal_arrow:hover {
	color: #2c8ce6;
}

#gallery-modal_prev {
	left: 5%;
}

#gallery-modal_next {
	right: 5%;
}

#gallery-full {
	position: absolute;
	z-index: 9981;
	width: 50%;
	height: 75%;
	left: 50%;
	top: 25%;
	margin-left: -25%;
	background-repeat: no-repeat;
	background-position-x: 50%;
}

/* Promotion/Landing Page Template */
/***********************************/

.page-template-promotion #content {
	padding-top: 0;
}

#promotion {
	background: #2c8ce6;
	min-height: 300px;
	padding-top: 100px;
}

#promoBranding {
	display: block;
    width: 300px;
    margin: 0 auto;
}

#promoLogoMark {
	max-width: 100px;
	margin-right: auto;
    margin-left: auto;
    display: block;
}

#promoLogoText {
	font-size: 2.5em;
    line-height: 1;
    text-align: center;
    float: none;
    display: block;
    margin-top: 20px;
    margin-bottom: 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	font-weight: 700;

}

#promoLogoTag {
	color: white;
	font-family: 'Vollkorn', 'Times', 'Georgia', serif;
	font-size: 1.3em;
	float: none;
	text-align: center;
	margin-top: 0;
}

#promoMessage {
	font-size: 1.2em;
	margin-top: 70px;
	margin-bottom: 120px;
	max-width: 300px;

}

.promotion_cta {
	background: #555561;
	margin-top: 120px;
	min-height: 400px;
	padding-top: 70px;
}

.promoDetails, .ctct-form-description {
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
	color: white;
	margin: 0 auto 0 auto;
	text-align: center;
	font-weight: 100;
	clear: both;
	max-width: 300px;
}

#promoDisclaimer, .ctct-form-description {
	font-size: 1.2em;
}

.promotion_form {
	width: 300px;
	display: block;
	margin: 0 auto;
	margin-top: 70px;
}

.ctct-form-field label {
	color: white;
}

#ctct-submitted {
	margin-top: 20px;
	margin-bottom: 70px;
}

.promotion_form .ctct-form-wrapper .ctct-form abbr {
	color: #2c8ce6;
}

.promotion_form input[type="submit"] {
	background-color: #2c8ce6;
	float: right;
}

.page-online-schedule .image-header_title {
	line-height: 100px;
}

.page-online-schedule .image-header {
	min-height: 100px;
}

.page-online-schedule .content_bg {
	padding-top: 1em;
}
